.layout-header {
  display: flex;
  position: sticky;
  box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.4);
  background-color: #535353;

  &__search {
    flex: 1;
    flex-direction: row-reverse;
    display: flex;
  }
  &__menu,
  &__logo,
  &__search {
    padding: 7px 10px;
  }
}
