:host {
  display: block;
  position: relative;
}
.menu-icon {
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;

  &__line {
    width: 100%;
    height: 3px;
    background: #fff;
    display: block;
    transition: all 0.3s ease-in-out;

    &:nth-child(1) {
      width: 90%;
      justify-self: end;
    }
    &:nth-child(2) {
      width: 80%;
      justify-self: end;
    }
  }

  &:hover {
    .menu-icon__line {
      &:nth-child(1) {
        width: 80%;
      }
      &:nth-child(2) {
        width: 90%;
      }
    }
  }
}
.menu-nav {
  font-family: Verdana, sans-serif;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 7px 10px;
  border-radius: 3px;
  background-color: #535353;
  border: 1px solid #ffffff;

  &--opened  {
    display: block;
  }

  &__item {
    cursor: pointer;
    color: #ffffff;
  }
}
